{% extends "base.jinja2" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">
  <script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container">
  <form method="POST" action="{{ url_for('api.publish') }}" enctype="multipart/form-data">
    <input type="hidden" name="h" value="event" />
    <div class="row">
      <h4>Posting as <strong>{{ me }}</strong></h4>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <label for="name">Event Name</label>
        <input type="text" class="ut-full-width" name="name" />
      </div>
    </div>
    <!-- TODO: date/time picker w/ TZ -->
    <div class="row">
      <div class="two-thirds column">
        <label for="start">Start Date/Time</label>
        <input type="text" class="ut-full-width datetime" name="start" placeholder="2016-12-06 19:30" />
      </div>
    </div>
    <!-- TODO: date/time picker w/ TZ -->
    <div class="row">
      <div class="two-thirds column">
        <label for="end">End Date/Time</label>
        <input type="text" class="ut-full-width datetime" name="end" placeholder="2016-12-06 21:30" />
      </div>
    </div>
    <!-- TODO: venue picker -->
    <div class="row">
      <div class="five columns">
        <label for="location">Location</label>
        <input type="text" class="ut-full-width" name="location" />
      </div>
      <div class="three columns">
        <label for="tzoffset">Timezone</label>
        <input type="text" class="ut-full-width" name="tzoffset" placeholder="-05:00" />
      </div>
    </div>
    <!-- TODO: split on commas, strip whitespace, make into category[] on submit -->
    <div class="row">
      <div class="two-thirds column">
        <label for="category">Categories</label>
        <input type="text" class="ut-full-width" name="category" />
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <label for="photo">Poster Image URL</label>
        <input type="text" class="ut-full-width" name="photo[]" />
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <label for="content">Description</label>
        <textarea class="ut-full-width" name="content"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <input type="submit" class="button-primary" value="Create Event" />
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  flatpickr("input.datetime", {
    enableTime: true,
    altInput: true,
    altFormat: "F j, Y h:i K"
  });
});
</script>
{% endblock %}
