<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Slater</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="icon" href="{{ url_for('static', filename='images/slater-icon.png') }}" sizes="128x128" type="image/png">

  {% block head %}{% endblock %}
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="container">
    <h2><a href="{{ url_for('views.new_event') }}"><img class="logo" src="{{ url_for('static', filename='images/slater-icon.svg') }}"/></a> Slater - a <a href="https://www.w3.org/TR/micropub/">Micropub</a> client for events</h2>
  </header>
  {% block body %}{% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="container">
  <div>Slater is © 2017 by <a href="https://martymcgui.re/">Marty McGuire</a>. This code is <a href="https://github.com/martymcguire/slater">open source</a>. Feel free to send a pull request, or <a href="https://github.com/martymcguire/slater/issues">file an issue</a>.</div>
  <div>Calendar Icon by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">flaticon.com</a> is licensed <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer>
</body>
</html>
